<div data-hoverTarget=1 style="display:none">
	<p> This is a test </p>
</div>

<div data-hoverTarget=2 style="display:none">
	<p> This is a test2 </p>
</div>
<a href=# data-hoverID=1>link</a>
`
<a href=# data-hoverID=2>link</a>

<script src="../components/jquery/jquery.js"></script>
<script src="./responsive_hover.js"></script>
